<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments::adminHead">

</div>

<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bookingManagement.css}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" />
</head>

<body class="sb-nav-fixed" style="background-color: #1b203d;">
    <nav th:replace="fragments/fragments::adminNavbar"></nav>
    <div id="layoutSidenav">
        <div th:replace="fragments/fragments::adminSideNav"></div>
        <!-- Code user settings ở đây a ơi-->
        <div id="layoutSidenav_content">

            <!--Main-->
            <main>
                <div class="container-fluid px-4 text-white">
                    <br><br>
                    <div class="row" style="margin-top: 16px;">
                        <!-- <div class="col-xl-3 col-md-6">
                            <div class="box mb-4">
                                <p th:text="${total.employees} + ' Employees'"></p>
                                Important place
                                <div th:attr="data-total=${total.employees}"></div>
                                <i class="fa fa-user box-icon text-white"></i>
                            </div>
                        </div> -->
                        <div class="col-xl-3 col-md-6">
                            <div class="box mb-4">
                                <p th:text="${total.carCompanies} + 'Bus Companies'">99<br><span>Bus company</span></p>
                                <i class="fa fa-building box-icon text-white"></i>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="box mb-4">
                                <p th:text="${listRoutes.size()} + ' Routes'">76<br><span>Orders</span></p>
                                <i class="fa fa-solid fa-route box-icon text-white"></i>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="box mb-4">
                                <p th:text="${total.cars} + ' Buses'">699<br><span>Bus</span></p>
                                <i class="fa fa-bus box-icon text-white"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header  content-box-title">
                                    <i class="fas fa-chart-area me-1"></i>
                                    Revenue
                                </div>
                                <div class="card-body">
                                    <canvas style="background-color: antiquewhite; padding-top: 5px;" id="myAreaChart"
                                        width="100%" height="40"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header content-box-title">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Ticket sales
                                </div>
                                <div class="card-body"><canvas style="background-color: antiquewhite; padding-top: 5px;"
                                        id="myBarChart" width="100%" height="40"></canvas></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header content-box-title">
                            <i class="fas fa-table me-1"></i>
                            Car company account
                        </div>
                        <div class="card-body text-white">
                            <table id="datatablesSimple" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Username</th>
                                        <th>Available</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="member: ${listMembers}">
                                        <td th:text="${member.fullName}">Full Name</td>
                                        <td th:text="${member.email}">Full Name</td>
                                        <td th:text="${member.phoneNumber}">Phone Number</td>
                                        <td th:text="${member.username}">Username</td>
                                        <td>
                                            <span style="color: #00ff3a; font-weight:600;"
                                                th:if="${#strings.equals(member.enableToWork, 'true')}"
                                                th:text="${#strings.toUpperCase(member.enableToWork)}"></span>
                                            <span style="color: rgb(255 224 0); font-weight:600;"
                                                th:if="${#strings.equals(member.enableToWork, 'false')}"
                                                th:text="${#strings.toUpperCase(member.enableToWork)}"></span>
                                        </td>

                                        <td>
                                            <!-- Enable -->
                                            <th:block th:if="${!#strings.equals(member.enableToWork, 'true')}">
                                                <a th:href="@{update/{id}(id=${member.id})}" class="btn btn-info">
                                                    <i style="color: white;" class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a th:href="@{delete/{id}(id=${member.id})}" class="btn btn-danger">
                                                    <i style="color: white;" class="fa-solid fa-trash"></i>
                                                </a>
                                            </th:block>


                                            <!-- Disable -->
                                            <th:block th:if="${#strings.equals(member.enableToWork, 'true')}">
                                                <!-- <a th:href="@{update/{id}(id=${member.id})}" class="btn btn-info" th:disabled="true">
                                                    <i style="color: white;" class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a th:href="@{delete/{id}(id=${member.id})}" class="btn btn-danger" th:disabled="true">
                                                    <i style="color: white;" class="fa-solid fa-trash"></i>
                                                </a> -->
                                                <button type="button" class="btn btn-info" th:onclick="'location.href=\'/update/\'+${member.id}'" disabled>
                                                    <i style="color: white;" class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger" th:onclick="'location.href=\'/delete/\'+${member.id}'" disabled>
                                                    <i style="color: white;" class="fa-solid fa-trash"></i>
                                                </button>
                                            </th:block>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="fragments/fragments::adminFooter"></footer>
        </div>

    </div>
    <div th:replace="fragments/fragments::adminScript"></div>
    <script>
        $(document).ready(function () {
            $('#datatablesSimple').DataTable({
                responsive: true,
                sortable: true,
                searchable: true,
            });
        });
    </script>
    <script th:inline="javascript">
        var profit = [[${ profit }]];
    </script>
    <script th:src="@{/assets/demo/chart-area-demo.js}"></script>
    <script th:src="@{/assets/demo/chart-bar-demo.js}"></script>
</body>

</html>