<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/fragments::adminHead">
        
    </div>
    <head>
        
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace ="fragments/fragments::adminNavbar"></nav>
        <div id="layoutSidenav">
            <div th:replace = "fragments/fragments::adminSideNav"></div>
            <!-- Code user settings ở đây a ơi-->
            <div id="layoutSidenav_content">

                <!--Main-->
                <main>               
                    <div class="container-fluid px-4 text-white">
                        <br><br>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="box mb-4">
                                    <p th:text="${total.employees} + ' Employees'"></p>
                                    <!-- Important place-->
                                    <div th:attr="data-total=${total.employees}"></div>
                                    <i class="fa fa-user box-icon text-white"></i>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="box mb-4">
                                    <p th:text="${total.carCompanies}">99<br><span>Bus company</span></p>
                                    <i class="fa fa-building box-icon text-white"></i>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="box mb-4">
                                    <p th:text="${total.orders}">76<br><span>Orders</span></p>
                                    <i class="fa fa-shopping-bag box-icon text-white"></i>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="box mb-4">
                                    <p th:text="${total.cars}">699<br><span>Bus</span></p>
                                    <i class="fa fa-bus box-icon text-white"></i>
                                </div>
                            </div>
                        </div>
                        <!-- model.addAttribute("profit", wrapper); tui truyen PROFIT DAY NE NHA-->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header  content-box-title">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas style="background-color: antiquewhite;" id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header content-box-title">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas style="background-color: antiquewhite;" id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header content-box-title">
                                <i class="fas fa-table me-1"></i>
                                Employee Database
                            </div>
                            <div class="card-body text-white">
                                <table id="datatablesSimple" class="myTable">
                                <thead>
                                    <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone NUmber</th>
                                    <th>Username</th>
                                    <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="member: ${listMembers}">
                                        <td th:text="${member.fullName}">Full Name</td>
                                        <td th:text="${member.email}">Full Name</td>
                                        <td th:text="${member.phoneNumber}">Phone Number</td>
                                        <td th:text="${member.username}">Username</td>
                                        <td><a th:href="@{update/{id}(id=${member.id})}" class="btn btn-success">Update</a>
                                            <a th:href="@{delete/{id}(id=${member.id})}" class="btn btn-warning">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </main>
            
                <footer th:replace="fragments/fragments::adminFooter"></footer>
            </div>






            <!--đừng đụng ở dưới-->
        </div>
        <div th:replace ="fragments/fragments::adminScript"></div>
        <script>
            $(document).ready(function() {
                $('#datatablesSimple').DataTable({
                    "responsive": true
                });
            });
        </script>
    </body>
</html>

