<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments::adminHead"></div>

<head>
    <meta charset="UTF-8">
    <title>Admin Bookings</title>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables CSS file -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />

    <!-- DataTables JS file -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bookingManagement.css}">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" />
    <!-- Custom Js Link -->
    <script th:src="@{/js/main.js}"></script>

    <!-- FA icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body class="sb-nav-fixed" style="background-color: #1b203d;">
    <nav th:replace="fragments/fragments::adminNavbar"></nav>
    <div id="layoutSidenav">
        <div th:replace="fragments/fragments::adminSideNav"></div>
        <div id="layoutSidenav_content">

            <!--Main-->
            <main>
                <div class="container-fluid px-4 text-white">
                    <br>


                    <div class="card mb-4" style="background-color: #272c4a;">
                        <div class="card-header  content-box-title">
                            <i class="fas fa-list-check me-1"></i>
                            Booking Management
                        </div>

                        <div class="container-fluid">
                            <br>
                            
                            <div class="table-responsive">

                                <table id="example" class="table table-striped ">
                                    <div style="margin-bottom: 10px;">
                                    
                                        <form method="get" action="#" th:action="@{/member/bookings}" >
                                            <label>Status: </label>
                                            <select style="margin-left: 10px; padding: 3px;
                                            border-radius: 4px;" name="status" onchange="this.form.submit()">
                                                <option value="ALL">All Bookings</option>
                                                <option value="CONFIRMED" th:selected="${status == 'CONFIRMED'}">Confirmed
                                                </option>
                                                <option value="PENDING" th:selected="${status == 'PENDING'}">Pending
                                                </option>
                                                <option value="CANCELLED" th:selected="${status == 'CANCELLED'}">Cancelled
                                                </option>
                                            </select>
                                        </form>
                                    </div>
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Customer</th>
                                            <th>Phone number</th>
                                            <th>Email</th>
                                            <th>Travel Date</th>
                                            <th>Trip</th>
                                            <th>Payment Type</th>
                                            <!-- <th>Payment Status</th> -->

                                            <th>Seats</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="booking : ${bookings}">
                                            <td th:text="${booking.id}"></td>
                                            <td th:text="${booking.fullName}"></td>
                                            <td th:text="${booking.phoneNumber}"></td>
                                            <td th:text="${booking.email}"></td>
                                            <td th:text="${booking.trip.date}"></td>
                                            <td
                                                th:text="${booking.trip.route.departure + ' to ' + booking.trip.route.arrival}">
                                            </td>
                                            <td th:text="${booking.paymentType}"></td>
                                            <!-- <td th:text="${booking.paymentStatus}"></td> -->

                                            <td th:text="${booking.listSeatsNumber}"></td>
                                            <td th:text="${booking.quantity}"></td>
                                            <td th:text="${booking.total}"></td>
                                            <td>
                                                <span th:if="${#strings.equals(booking.status, 'PENDING')}"
                                                    th:text="${booking.status}" style="color: rgb(255 224 0); font-weight:600;"></span>
                                                <span th:if="${#strings.equals(booking.status, 'CONFIRMED')}"
                                                    th:text="${booking.status}" style="color: #00ff3a; font-weight:600;"></span>
                                                    <span th:if="${#strings.equals(booking.status, 'CANCELLED')}"
                                                    th:text="${booking.status}" style="color: #ff0000; font-weight:600;"></span>
                                            </td>
                                            <td>
                                                <form th:action="@{/member/bookings/{id}/confirm(id=${booking.id})}"
                                                    method="post">

                                                    <button class="btn btn-success"
                                                        th:if="${!#strings.equals(booking.status, 'PENDING')}"
                                                        type="submit" disabled>
                                                        <i style="color: white;" class="fas fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-success"
                                                        th:if="${#strings.equals(booking.status, 'PENDING')}"
                                                        type="submit"><i style="color: white;"
                                                            class="fas fa-check"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </main>

            <footer th:replace="fragments/fragments::adminFooter"></footer>
        </div>
    </div>
    <div th:replace="fragments/fragments::adminScript"></div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                sortable: true,
                searchable: true,
                responsive: true,
            });
        });

    </script>
</body>


</html>