<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments::adminHead"></div>

<body class="sb-nav-fixed">
    <nav th:replace="fragments/fragments::adminNavbar"></nav>
    <div id="layoutSidenav">
        <div th:replace="fragments/fragments::adminSideNav"></div>
        <div id="layoutSidenav_content">

            <!--Main-->
            <main>
                <div class="container-fluid px-4 text-white">
                    <br>
                    <!-- <h1 class="mt-4">Charts</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="Adashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Charts</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            Chart.js is a third party plugin that is used to generate the charts in this template. The
                            charts below have been customized - for further customization options, please visit the
                            official
                            <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>
                            .
                        </div>
                    </div> -->
                    <div class="card mb-4">
                        <div class="card-header  content-box-title">
                            <i class="fas fa-chart-area me-1"></i>
                            Update Employee
                        </div>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card-body">

                                        <form th:action="@{/member/save-update}" th:object="${member}">
                                            <input type="hidden" th:field="*{id}">

                                            <div class="mb-3 form-group">
                                                <label class="small mb-1">Username (how your name will appear to
                                                    other users on the site)</label>
                                                <input type="text" th:field="*{username}" placeholder="Username"
                                                    class="form-control mb-4 col-4" required
                                                    title="You can't change username" disabled>
                                            </div>

                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                                <input type="text" th:field="*{email}"
                                                    placeholder="Enter your email address"
                                                    class="form-control mb-4 col-4" required
                                                    title="You can change notification email later in checkout"
                                                    disabled>
                                            </div>

                                            <div class="mb-3 form-group">
                                                <label class="small mb-1">Fullname</label>
                                                <input type="text" th:field="*{fullName}" placeholder="Fullname"
                                                    class="form-control mb-4 col-4" required
                                                    title="Please enter Fullname">
                                            </div>

                                            <!-- <div class="mb-3 form-group">
                                                <label class="small mb-1">Password</label>
                                                <input type="text" th:field="*{password}"
                                                    placeholder="Enter your password" class="form-control mb-4 col-4"
                                                    required pattern=".{6,}"
                                                    title="Password must be at least 6 characters">
                                            </div> -->



                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                                <input class="form-control mb-4 col-4" th:field="*{phoneNumber}"
                                                    id="inputPhone" type="tel" placeholder="Enter your phone number"
                                                    pattern="\d{10,11}$" required
                                                    title="Please enter a valid 10 or 11-digit phone number">
                                            </div>

                                            <button type="submit" class="btn btn-primary"> Save Employee</button>
                                            
                                            <button type="button" onclick="goBack()" class="btn btn-warning"> Return
                                                back</button>
                                            <script>
                                                function goBack() {
                                                    // window.history.back();
                                                    window.location.href = "http://localhost:8080/member/viewall";
                                                }
                                            </script>
                                        </form>
                                        <form th:action="@{/member/reset-password}" th:object="${member}">
                                            <input type="hidden" th:field="*{id}">
                                            <button type="submit" class="btn btn-danger">Reset Password </button>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card-body">
                                        <h5 class="card-title">Additional Information</h5>
                                        <p class="card-text">If the employee forgot they password, </p>
                                        <p class="card-text">the only way is reset password.</p>
                                        <p class="card-text">Phone number must be between 10 - 11 digits.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>

            <footer th:replace="fragments/fragments::adminFooter"></footer>
        </div>
    </div>
    <div th:replace="fragments/fragments::adminScript"></div>
</body>

</html>