<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/route/save}">
        <div>
        <label for="departure">Departure</label>
        <input type="text" id="departure" name="departure" required>
        </div>  
        <div>
        <label for="arrival">Arrival</label>
        <input type="text" id="arrival" name="arrival" required>
        </div>
        <div>
        <button type="submit">Save</button>
    </form>
</body>
</html>