<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card mb-4">
        <div class="card-header content-box-title">
            <i class="fas fa-table me-1"></i>
        </div>
        <div class="card-body text-white">
            <table id="datatablesSimple" class="myTable">
                <a th:href="@{/route/viewall}">Return to DashBoard</a>
            <thead>
                <tr>
                <th>Plate Number</th>
                <th>Capacity</th>
                <th>Actions</th>
                <th><a th:href="@{/car/add}">Add New Car</a></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="car: ${listCars}">
                    <td th:text="${car.plateNumber}">Departure</td>
                    <td th:text="${car.capacity}">Departure</td>
                    <td>
                        <a th:href="@{update/{id}(id=${car.id})}" class="btn btn-success">Update</a>
                        <a th:href="@{delete/{id}(id=${car.id})}" class="btn btn-warning">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>