<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/trip/save}">
        <input type="hidden" th:field="*{id}">
        <div>
        <label for="start-time">Start Time:</label>
        <input type="time" id="start-time" name="startTime" th:placeholder="${trip.startTime}" required>
        </div>  
        <div>
        <label for="end-time">End Time:</label>
        <input type="time" id="end-time" name="endTime" th:placeholder="${trip.endTime}" required>
        </div>
        <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:placeholder="${trip.price}" required>
        </div>

        <div>
        <label for="departure-detail">Departure Detail:</label>
        <input type="text" id="departure-detail" name="departureDetail" th:placeholder="${trip.departureDetail}" required>
        </div>
        <div>
        <label for="arrival-detail">Arrival Detail:</label>
        <input type="text" id="arrival-detail" name="arrivalDetail" th:placeholder="${trip.arrivalDetail}" required>
        <div>
        </div>
        <label for="arrival-detail">Date:</label>
        <input type="date" id="arrival-date" name="date" th:placeholder="${trip.date}" required>
        </div>
        <div>
        <label for="route">Route:</label>
        <select id="route" name="route.id" required>
            <option value="">--Select a route--</option>
            <th:block th:each="route : ${routes}">
                <option th:value="${route.id}" th:text="${route.departure} + ' - ' + ${route.arrival}"></option>
            </th:block>
        </select>
        </div>
        <div>
            <select id="car" name="car.id" required>
                <option value="">--Select a car--</option>
                <th:block th:each="car : ${cars}">
                    <option th:value="${car.id}" th:text="${car.plateNumber}"></option>
                </th:block>
            </select>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>