<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Admin head-->

<head th:fragment="adminHead">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}" rel="stylesheet" />
    <link th:href="@{/css/adminStyle.css}" rel="stylesheet" />

    <!-- turn off favicon-->
    <link rel="icon" href="data:;base64,=">

    <script th:src="@{https://use.fontawesome.com/releases/v6.1.0/js/all.js}" crossorigin="anonymous"></script>
</head>

<!-- Admin navbar-->
<nav th:fragment="adminNavbar" class="sb-topnav navbar navbar-expand navbar-dark ">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/member/viewall}">Dashboard</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 " id="sidebarToggle" href="#!"><i
            class="fas fa-bars text-white"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                    class="fas fa-search text-white"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw text-white"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li class="dropdown-item" th:text="${session.userSession.username}"></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<!--Admin sivenav-->
<div th:fragment="adminSideNav" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" th:href="@{/member/viewall}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <a class="nav-link" th:href="@{/member/add}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user "></i></div>
                    Add Employee
                </a>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                    aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Pages
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link" th:href="@{/homepage/}" target="_blank">
                            Homepage
                        </a>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Charts
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tables
                </a>
            </div>
        </div>
    </nav>
</div>

<!--Admin footer-->
<footer th:fragment="adminFooter" class="py-4 mt-auto ">
    <div class="container-fluid px-4 text-white">
        <div class="d-flex align-items-center justify-content-between small">
            <div>Copyright &copy; 24HR 2023</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>

<!--Admin script-->
<div th:fragment="adminScript">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js}"
        crossorigin="anonymous"></script>
    <script th:src="@{/assets/demo/chart-area-demo.js}"></script>
    <script th:src="@{/assets/demo/chart-bar-demo.js}"></script>
    <script th:src="@{/assets/demo/chart-pie-demo.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest}" crossorigin="anonymous"></script>
    <script th:src="@{/js/datatables-simple-demo.js}"></script>
</div>


<!---------------------------------------------------------------------------------------------------------------------->

<!--Home head-->

<head th:fragment="homeHead">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/icon type">
    <title>24HR Car Rental</title>

    <!-- FontAweSome-->
    <script th:src="@{https://kit.fontawesome.com/bdbcf2ce1a.js}" crossorigin="anonymous"></script>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" th:href="@{/imagefavicon.png}">

    <!-- Bootstrap 5 CDN Links -->
    <link rel="stylesheet" type="text/css"
        th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
        th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}">

    <!-- Custom File's Link -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepageStyle.css}" />
    <!-- <link rel="stylesheet" th:href="css/responsive-style.css"> -->

</head>

<!--Home header/navbar-->
<header th:fragment="homeHeader" class="header_wrapper">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo.png}" style="width: 70%;" class="img-fluid" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-stream navbar-toggler-icon"></i>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav menu-navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#guide">Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Routes</a>
                    </li>

                    <!-- backendCode here -->
                    <li class="nav-item">
                        <a class="nav-link" href="partnerPage">Become Partner</a>
                    </li>
                    <!-- backendCode End -->


                    <!-- <p class="nav-link" th:if="${session.userSession != null}" th:text="${session.userSession.fullName}"></p>
                    <a class="nav-link" th:if="${session.userSession == null}" th:href="@{/homepage/login}" th:text="Login" >Login</a> -->

                    <!-- backendCode Login here -->
                    <li class="nav-item dropdown" >
                        <a class="nav-link" th:if="${session.userSession == null}" th:href="@{/homepage/login}" th:text="Login" >Login</a>
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" th:if="${session.userSession != null}" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fas fa-user fa-fw text-white"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" th:if="${session.userSession != null}" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item" th:if="${session.userSession != null}" th:text="${session.userSession.fullName}"></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            
                            <!-- Show and update profile-->
                            <li><a class="dropdown-item" th:href="@{/users/info}">Settings</a></li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <!-- Logout -->
                            <li><a class="dropdown-item" href="#!">Logout</a></li>
                        </ul>
                    </li>
                    <!-- backendCode End -->

                    <li class="nav-item mt-3 mt-lg-0">
                        <a class="main-btn" href="#home">Book Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Home banner-->
<div th:fragment="homeBanner">
    <section id="home" class="banner_wrapper p-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper image-slider">
                <div class="swiper-slide image-slider" style="background-image: url(/images/slider/slider2.webp);">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>welcome to 24HR - CAR BOOKING</h1>
                            <p>Need a ride? Contact us </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide image-slider" style="background-image: url(/images/slider/slider1.webp);">
                    <div class="slide-caption text-center image-slider">
                        <div>
                            <h1>The Safest, Fastest, Cheapest</h1>
                            <p>Hotline booking</p>
                            <a href="tel:0976192474">
                                <p style="font-size: larger;">0976192474</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-vertical">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                    aria-label="Go to slide 1" aria-current="true"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
            </div>
        </div>

        <div class="container booking-area">

            <!-- backendCode here -->
            <form class="row">
                <div class="col-lg mb-3 mb-lg-0">
                    <i class="fa-solid fa-calendar-days fa-lg "></i>
                    <label class="search-label">Date of departure</label>
                    <input type="date" class="form-control" placeholder="Date">
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <i class="fa-solid fa-map-location-dot fa-lg"></i>
                    <label class="search-label">Pick up place</label>
                    <input class="form-control" type="text" placeholder="Pick up place" required="">
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <i class="fa-solid fa-location-dot fa-lg"></i>
                    <label class="search-label">Drop off place</label>
                    <input class="form-control" type="text" placeholder="Drop off place" required="">
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <br>
                    <button type="submit" class="main-btn2 rounded-2 px-lg-3">
                        <i style="color: white;" class="fa-solid fa-magnifying-glass fa-lg"></i>
                        <span style="color: white;">Check Availability</span>
                    </button>
                </div>
            </form>
            <!-- backendCode End -->
        </div>
    </section>
</div>

<!--Home guide-->
<div th:fragment="homeGuide">
    <section id="guide" class="guides_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div style="padding-top: 50px; padding-bottom: 50px;">
                    <div class="col-sm-12 section-title text-center mb-5">
                        <h5>We Are Here For You</h5>
                        <h3>How to booking on 24HR</h3>
                    </div>
                    <div class="number font-size-18 row pt-5 text-center">
                        <div class="  col-12 col-md-6 col-lg-3 ">
                            <div style=" font-size: 133px; font-weight: bold;">01</div>
                            <h3 style="color: #EA001E; text-transform: uppercase; margin-top: 10px;">Access
                            </h3>
                            <p class="number">Access to the system at 24HR. Then search for the journey presented in the
                                Find Section.</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mb-3">
                            <div style=" font-size: 133px; font-weight: bold;">02</div>
                            <h3 style="color: #EA001E; text-transform: uppercase; margin-top: 10px;">Book ticket
                            </h3>
                            <p class="number">Select a flight and book by clicking on the fare section to see the total
                                invoice to be paid,
                                then view the flight specifics in the details area and select BOOK.</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3  mb-3">
                            <div style=" font-size: 133px; font-weight: bold;">03</div>
                            <h3 style="color: #EA001E; text-transform: uppercase; margin-top: 10px;">Fill information
                            </h3>
                            <p class="number">To proceed with the ticket purchase, provide the following information:
                                customer information,
                                contact information, and luggage information, then click Continue.</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3  mb-3">
                            <div style=" font-size: 133px; font-weight: bold;">04</div>
                            <h3 style="color: #EA001E; text-transform: uppercase; margin-top: 10px;">Payment</h3>
                            <p class="number">Choose a payment method and follow the on-screen instructions. A
                                confirmation email for your order will be sent by 24HR.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="whyus" class="service_section sec_ptb_150 pb-0 mb_100 text-white clearfix"
        data-bg-gradient="linear-gradient(0deg, #0C0C0F, #292D45)" style="background-image: linear-gradient(0deg, rgb(12, 12, 15), rgb(41, 45, 69));
                padding-top: 30px;">
        <div class="container">
            <div class="section_title mb_30 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <h2 class="title_text mb-0" style="color: red;">-<span
                        style="color: white; font-family: 'Goldman', cursive;"> Why Us </span>-</h2>
            </div>
            <div class="row justify-content-center" style="padding-top: 50px;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="service_primary text-center text-white aos-init aos-animate" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="item_icon"><i class="fas fa-shield-alt"
                                style="font-size: 48px; color: #EA001E;"></i></div>
                        <h3 class="item_title text-white">Secured Payment Guarantee</h3>
                        <p class="mb-0 text-white">We make every effort to keep your financial information secure,
                            whether you're sending money, paying bills, or making a purchase.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="service_primary text-center text-white aos-init aos-animate" data-aos="fade-up"
                        data-aos-delay="500">
                        <div class="item_icon"><i class="fas fa-bus" style="font-size: 48px; color: #EA001E;"></i></div>
                        <h3 class="item_title text-white">Booking any Company's Car</h3>
                        <p class="mb-0 text-white">200+ high quality car company. There are over 1000 active and diverse
                            routes to choose from across the country.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="service_primary text-center text-white aos-init aos-animate" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="item_icon"><i class="fas fa-briefcase" style="font-size: 48px; color: #EA001E;"></i>
                        </div>
                        <h3 class="item_title text-white" style="padding-bottom: 50px;">Fast and Easy</h3>
                        <p class="mb-0 text-white">Signing up for 24HR is free, and you can use your PayPal balance to
                            make purchases and send money at no extra cost.
                        </p>
                    </div>
                </div>
            </div>


            <div class="counter mt-5">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                            <h1>
                                <span id="count1">1287</span>+
                            </h1>
                            <p>Happy Clients</p>
                        </div>
                        <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                            <h1>
                                <span id="count2">50</span>+
                            </h1>
                            <p>Cars in Fleet</p>
                        </div>
                        <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                            <h1>
                                <span id="count3">1140</span>+
                            </h1>
                            <p>Five Start Ratings</p>
                        </div>
                        <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                            <h1>
                                <span id="count4">110</span>+
                            </h1>
                            <p>Days in Business</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<!--Home service-->
<div th:fragment="homeService">
    <section id="services" class="services_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h5>We Are Here For You</h5>
                    <h3>Our Awesome Routes</h3>
                </div>
            </div>
            <div class="row align-items-center service-item-wrap">
                <div class="col-lg-7 p-lg-0">

                    <!--Service Area Start-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="spa" role="tabpanel">
                            <img src="/images/routes/routes1.webp" alt="" class="image-size">
                        </div>
                        <div class="tab-pane fade" id="restaurent" role="tabpanel">
                            <img src="/images/routes/routes2.webp" alt="" class="image-size">
                        </div>
                        <div class="tab-pane fade" id="swimming" role="tabpanel">
                            <img src="/images/routes/routes3.webp" alt="" class="image-size">
                        </div>
                        <div class="tab-pane fade" id="conference" role="tabpanel">
                            <img src="/images/routes/routes4.webp" alt="" class="image-size">
                        </div>
                    </div>
                    <!--Service Area End-->

                </div>
                <div class="col-lg-5 position-relative">
                    <!--Service Tab Menu Area Start-->
                    <div class="service-menu-area">
                        <ul style="list-style: none;" class="nav">
                            <li>
                                <a data-bs-toggle="tab" href="#spa">
                                    <span class="service-icon">
                                        <i class="fa-solid fa-van-shuttle fa-2xl"></i>
                                    </span>
                                    <h5 style="color: #000c21;">Ho Chi Minh City - Da Lat </h5>
                                    <p style="color: black;"><span style="color: #EA001E ;">Distance: </span>
                                        310km</p>
                                    <p style="color: black;"><span style="color: #EA001E ;">Duration: </span>
                                        8 hour</p>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#restaurent">
                                    <span class="service-icon">
                                        <i class="fa-solid fa-van-shuttle fa-2xl"></i>
                                    </span>
                                    <h5 style="color: #000c21;">Ho Chi Minh City - Nha Trang </h5>
                                    <p style="color: black;"><span style="color: #EA001E ;">Distance: </span>
                                        426km</p>
                                    <p style="color: black;"><span style="color: #EA001E ;">Duration: </span>
                                        12 hour</p>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#swimming">
                                    <span class="service-icon">
                                        <i class="fa-solid fa-van-shuttle fa-2xl"></i>
                                    </span>
                                    <h5 style="color: #000c21;">Ho Chi Minh City - Da Nang </h5>
                                    <p style="color: black;"><span style="color: #EA001E ;">Distance: </span>
                                        980km</p>
                                    <p style="color: black;"><span style="color: #EA001E ;">Duration: </span>
                                        20 hour</p>
                                </a>
                            </li>
                            <li>
                                <a style="margin-bottom: -17px;" data-bs-toggle="tab" href="#conference">
                                    <span class="service-icon">
                                        <i class="fa-solid fa-van-shuttle fa-2xl"></i>
                                    </span>
                                    <h5 style="color: #000c21;">Ho Chi Minh City - Can Tho</h5>
                                    <p style="color: black;"><span style="color: #EA001E ;">Distance: </span>
                                        166km</p>
                                    <p style="color: black;"><span style="color: #EA001E ;">Duration: </span>
                                        3.30 hour</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--Service Tab Menu Area End-->
                </div>
            </div>
        </div>
    </section>
</div>

<!--Home footer-->
<div th:fragment="homeFooter">
    <section id="contact" class="footer_wrapper mt-3 mt-md-0 pb-0">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h5>24HR Co., ltd</h5>
                    <div class="contact-info">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-home me-3"></i>Lot E2a-7, D1 Street, Hi-Tech Park, Long
                                    Thanh My Ward, Thu Duc City, Ho Chi Minh City HCM.</a></li>
                            <li><a href="#"><i class="fa fa-phone me-3"></i>(097) 6192474</a></li>
                            <li><a href="#"><i class="fa fa-envelope me-3"></i>24hr@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Useful Links</h5>
                    <ul class="link-widget p-0">
                        <li><a href="#home">Homepage</a></li>
                        <li><a href="#guide">Guide</a></li>
                        <li><a href="#whyus">Why Us</a></li>
                        <li><a href="#services">Routes</a></li>
                        <!-- <li><a href="#">Price</a></li>
                        <li><a href="#">Rental</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6">

                    <h5>Stay Connected</h5>

                    <ul class="social-network d-flex align-items-center p-0">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>

                <hr class="hr-footer">
                <div class="container-fluid copyright-section">
                    <p>Copyright <a href="#">© 24HR.</a> All Rights Reserved</p>
                </div>
            </div>
        </div>

    </section>
</div>

<!--Home script-->
<div th:fragment="homeScript">
    <!-- Bootstrap 5 JS CDN Links -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js}"></script>

    <!-- Swiper JS -->
    <script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>

    <!-- Custom Js Link -->
    <script th:src="@{/js/main.js}"></script>
</div>

<!------------------------------------------------------------------------------------------------------------>
<!--Employee head-->

<head th:fragment="empHead">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}" rel="stylesheet" />
    <link th:href="@{/css/employeeStyle.css}" rel="stylesheet" />

    <!-- turn off favicon-->
    <link rel="icon" href="data:;base64,=">

    <script th:src="@{https://use.fontawesome.com/releases/v6.1.0/js/all.js}" crossorigin="anonymous"></script>
</head>

<!--Employee footer-->
<footer th:fragment="empFooter" class="py-4 mt-auto ">
    <div class="container-fluid px-4 text-white">
        <div class="d-flex align-items-center justify-content-between small">
            <div>Copyright &copy; 24HR 2023</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>

<!--Employee script-->
<div th:fragment="empScript">
    <!-- Bootstrap 5 JS CDN Links -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js}"></script>

    <!-- Swiper JS -->
    <script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>

    <!-- Custom Js Link -->
    <script th:src="@{/js/main.js}"></script>
</div>

</html>