<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>40e</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/404Error.css}'>
</head>

<body>
    <div id="main">

            <div class="fof">
                <h1>Error 403</h1>
            </div>
            <a th:href="@{/homepage}" style="color: rgb(22, 24, 41); margin-left: 15px;">
                <i class="fa-solid fa-arrow-left" style=" margin-top: 25px;">
                </i>
                Return back
            </a>

    </div>
</body>

</html>