/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Slider
4. About
5. guides
6. Services
6. Team
7. Gallery
8. Price
9. Blog
10. Footer
-------------------- */

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color: #021832;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;
    --bg-brown: #2C2C2C;
    --bg-yellow: #FFCC00;
    --bg-navbar: #fff;
    --bg-footer: #1D1D1F;

    /* Text Style */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #151515;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;
}

p {
    margin: 0px;
    padding: 0px;
}

button {
    margin-top: 10px;


}

.image-size {
    width: 60%;
}

.form-login {
    /* height: 480px; */
    width: 400px;
    background-color: rgba(255, 255, 255, 0.93);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px 35px;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.login {
    margin-top: 0px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    text-align: center;

}

.img-account-profile {
    width: 10rem;
}

hr:not([size]) {
    height: 0px;
}

.seatChoose {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.seat-td {
    height: 100%;
}

.userFooter {
    display: flex;
    flex-direction: column;
    min-height: 53vh;
    justify-content: flex-end;
}

.homeFooter {
    display: flex;
    flex-direction: column;
    /* min-height: 53vh; */
    justify-content: flex-end;
}

.row-desc {
    /* padding-left: 30px; */
    padding-top: 10px;
    border-left: 2px solid #434343;
}

.bookFooter {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: flex-end;
}

.lbforgotpassword {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}



.lbregister {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.lbpass {
    display: block;
    margin-top: 5px;
}

.google {
    height: 50px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    color: black;
    text-align: center;
    width: 100%;
    background-color: white;
    display: inline-block;
}

/* img {
    width: 20%;
    height: 20%;

} */

.test {
    height: 50px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    color: black;
    text-align: center;
    width: 100%;
    background-color: white;
    display: inline-block;
}

.google btn {
    height: 50px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    color: black;
    text-align: center;
    width: 100%;
    background-color: white;
    display: inline-block;
}

.container-noRes {
    /* width: 100%;
    min-width: 1109px; */
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.bus-order {
    background-color: rgba(245, 241, 241, 0.97);
    margin: 0px 200px;
    height: 535px;
    margin-top: 49px;
    margin-bottom: 49px;
}



.seat {
    background-color: #444451;
    height: 30px;
    width: 25px;
    margin: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.seat.selected {
    background-color: yellow;
}

.row-seat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-seat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+.seat {
    background-color: springgreen;
    color: black;
}

@-webkit-keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.historyTable {
    color: black;
}

.datatable-table > tbody > tr > td, .datatable-table > tbody > tr > th, .datatable-table > tfoot > tr > td, .datatable-table > tfoot > tr > th, .datatable-table > thead > tr > td, .datatable-table > thead > tr > th {
    /* background-color: antiquewhite; */
    vertical-align: top;
    padding: 8px 10px;
}

.datatable-table > thead > tr > th {
    vertical-align: bottom;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
    background-color: rgba(0, 0, 0, 0.18);
}

.datatable-sorter, .datatable-filter {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 110%;
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}


body {
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: .375rem;
}

::-webkit-scrollbar-track {
    background: #021832;
}

::-webkit-scrollbar-thumb {
    background: rgb(234, 0, 30);
}

section {
    /* padding: 2.5rem 0; */
    padding-top: 2rem;
}

.main-btn {
    font-size: 1rem;
    font-weight: 500;

    text-transform: uppercase;
    background-color: transparent;
    border: .0625rem solid;
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
    color: #fff;
    background-color: rgb(234, 0, 30);
    border-color: rgb(234, 0, 30);
    ;
}

.main-btn:hover {
    background-color: rgba(234, 0, 30, 0.85);
    /* border-color: rgba(0, 96, 196, 0.85); */
    color: var(--text-white);
}

a.main-btn3:hover {
    color: #151515;
}

.main-btn2 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-brown);
    text-transform: uppercase;
    background-color: rgb(234, 0, 30);
    border: .0625rem solid var(--bg-brown);
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
}

.main-btn2:hover {
    background-color: rgba(234, 0, 30, 0.8);
}

.main-btn3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-black);
    text-transform: uppercase;
    background-color: transparent;
    border: .0625rem solid var(--text-black);
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
}

.fa-lg {
    color: #EA001E;
}

.number {
    color: rgb(22, 24, 41);
    font-size: 1.0rem;
}

.payment-form {
    position: relative;
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    margin-top: 12px;
    transition: all 0.3s linear 0s;
    overflow: hidden;
    height: auto;
    background: white;
    padding: 0px 16px;
}

.flex-label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.row-payment {
    padding: 5px 0px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.detail-content {
    margin-left: 25px;
}

.trip-info-body {
    padding: 20px;
    background: none;
    height: auto !important;
}

.span-payments {
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.total {
    font-weight: 500;
    font-size: 22px;
    color: rgb(72, 72, 72);
}

.total-price {
    font-weight: 500;
    font-size: 22px;
    color: rgb(42, 88, 240);
    text-align: right;
}

.table-name {
    align-items: center;
    font-size: 14px;
    color: rgb(116, 116, 116);
    font-weight: 300;
    margin-top: 16px;
}

.verify-form {
    text-align: center;
    width: 440px;
    height: 600px;
    border: 1px solid rgb(246, 225, 225);
    margin: auto;
    margin-top: 170px;
    background-color: white;
    border-radius: 10px;
    padding: 0px;
    background: white;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgb(8 7 16 / 60%);
    /* display: inline-block;*/
}

.btn-verifysuccess {
    color: #ffffff;
    background-color: #88b04b;
    padding: 12px 16px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
}

.verify-msg {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

.verify-img {
    width: 500px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -1px;
    margin-left: -1px;
}

.table-group-divider {
    height: 1px;
    background: rgb(211, 209, 209);
    margin-top: 16px;
}

.detailFooter {
    display: flex;
    flex-direction: column;
    /* min-height: 53vh; */
    justify-content: flex-end;
}

.table-value {
    font-size: 18px;
    color: rgb(51, 51, 51);
    font-weight: 400;
    border: none;
    text-align: center;
    height: 24px;
}

.table-value:focus-visible {
    outline: none;
    background-color: #e4fdc2;
}

a.main-btn3.mt-2 {
    color: #151515;
}

a.main-btn3.mt-2:hover {
    color: rgba(15, 15, 15, 0.9);
    background-color: rgba(15, 15, 15, 0.1);
}

.search-label {
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
}

.btn-joinus {
    background-color: rgb(234, 0, 30);
    color: white;
    font-size: x-large;
}

.checkmark {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    /* margin-left: 55px; */
}

/* ================================================================================== */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.reset_password{
    margin-top: 0px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    /* padding: 15px 0; */
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-co {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    height: 827px;
}

.light {
    background: rgba(255, 255, 255, 0.5);
}

.popup {
    margin: 75px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}


.popup .light {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}


.close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}

.close:hover {
    opacity: 1;
}

.contentRegister {
    max-height: 400px;
    overflow: auto;
}



/* ================================================================================== */

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 12px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #ddd;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #151515;
    line-height: 38px;
    text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 25px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #f00 transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #f90202 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 4px;
    height: 40px;
    margin-top: 8px;
    /* border: .0625px solid #F2C94C; */
}

.partner-container {
    height: 144px;
    height: clamp(120px, 10vw, 144px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.btn-joinus:hover {
    background-color: rgba(234, 0, 30, 0.85);
    color: white;
}

.font-aws {
    font-size: 16px;
}

img {
    border-radius: 20px;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}

h3 {
    /* margin-bottom: 1.875rem; */
    line-height: 2.875rem;
    font-weight: 700;
    font-size: 2.25rem;
    color: rgb(22, 24, 41);
    font-family: var(--secondary-font);
}

h3 span {
    color: var(--secondary-text);
}

h5 {
    font-size: 1.5rem;
    line-height: 1;
    color: #EA001E;
    margin-bottom: .9375rem;
    font-weight: 500;
    font-family: var(--secondary-font);

}

h6 {
    font-size: .875rem;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);
}

p {
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;
}

hr {
    margin: 1rem 0;
    color: #151515;
    background-color: #151515;
    border: 0;
    opacity: 1.25;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

.section-title:after {
    content: "";
    /* background-image: url('../images/title-icon.webp'); */
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-top: -0.9375rem;
    height: .9375rem;
}

/* 2 Navbar */
.header_wrapper .navbar {
    /* padding: .9375rem 0; */
    background-color: rgb(0, 12, 33);
    -webkit-box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
    box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
    -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: var(--primary-text);
    line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 .325rem;
}

.header_wrapper .nav-item .nav-link {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--bg-white);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: #EA001E;
}

.navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 12, 33, 0.8);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

/* 3 Banner */
.banner_wrapper {
    height: 40.625rem;
}

.banner_wrapper .swiper {
    width: 100%;
    height: 100%;
}

.banner_wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_wrapper .swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 0;
}

.pickupLabel {
    /* margin-top: 24px; */
    margin-bottom: 8px;
}

.dropoffLabel {
    /* margin-top: 24px; */
    margin-bottom: 8px;
}

.banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
    width: .9375rem;
    height: .9375rem;
    background-color: #021832;
    border: .0625rem solid var(--bg-white);
}

.banner_wrapper .swiper .slide-caption {
    height: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_wrapper .swiper .slide-caption p {
    max-width: 37.5rem;
    margin: 0 auto;
    color: var(--text-white);
}

.booking-area {
    background: rgb(22, 24, 41);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
    margin-top: -6rem;
    padding: 2.125rem 1.875rem;
    position: relative;
    z-index: 2;
}

.datatable-table {
    max-width: 100%;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    font-size: 16.2px;
}

.input-field {
    margin-bottom: 10px;
}

.form-control,
.dataTable-input {
    display: block;
    /* width: 100%; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ddd;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-bottom: black 1px solid;
}


.trip-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.trip-list li {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.trip-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.trip-description {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

.trip-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-item {
    margin-bottom: 10px;
}

.detail-label {
    font-weight: bold;
    margin-right: 10px;
}

.detail-value {
    color: #888;
}

.booking-area .form-control,
.booking-area .form-text {
    /* border: .0625px solid #F2C94C; */
    height: 2.5rem;
    text-transform: uppercase;
    font-size: .875rem;
    color: var(--text-black);
    font-weight: 500;
}

.booking-area .form-control:focus,
.booking-area .form-text:focus {
    outline: none;
    box-shadow: none;
}

/* 4 About */
.about_wrapper {
    padding-top: 9.375rem;
}

/*5  guide */
.guide-color {
    color: var(--bg-black);
}

.guide-item {
    position: relative;
    overflow: hidden;
}

.guide-item img {
    width: 100%;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}

.guide-item:hover img {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}

.guide-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}

.guide-item:hover::before {
    opacity: 0.6;
}

.guide-item .guide-item-wrap {
    left: 1.875rem;
    right: 1.875rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.guide-item .guide-content {
    border: .125rem solid #fff;
    padding: 5rem 1.875rem;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transition: all 500ms ease-in 0s;
    transition: all 500ms ease-in 0s;
    opacity: 0;
}

.guide-item:hover .guide-content {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/* 6 Services */
/* .service-item-wrap {
    background-color: var(--bg-color);
} */

.service-menu-area ul li a {
    display: block;
    margin-bottom: 2.8125rem;
}

.service-menu-area ul li a .service-icon {
    height: 5.625rem;
    width: 5.625rem;
    background-color: rgb(41, 45, 69);

    color: #fff;
    line-height: 5.625rem;
    text-align: center;
    border-radius: 100%;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service-menu-area ul li a .service-icon:hover,
.service-menu-area ul li a.active .service-icon {
    background-color: #EA001E;
    color: #fff;
    box-shadow: 0 .125rem 1.25rem rgb(34 30 31 / 40%);
}

.service-menu-area ul li:nth-child(1) {
    margin-left: 0.5625rem;
}

.service-menu-area ul li:nth-child(2) {
    margin-left: -2.9375rem;
}

.service-menu-area ul li:nth-child(3) {
    margin-left: -6.375rem;
}

.service-menu-area ul li:nth-child(4) {
    margin-left: -8.8125rem;
}

.service-menu-area ul li a p,
.service-menu-area ul li a h5 {
    padding-left: 6.875rem;
    display: block;
    text-align: left;
}

.service-menu-area ul li a p span {
    color: var(--secondary-text)
}

.section_title .title_text {
    line-height: 1;
    font-size: 48px;
}

.counter {
    /* background-image: url('../images/counter-bg.webp'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.125rem;
    position: relative;
}

.counter::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 12, 33, 0.9); */
    /* opacity: 0.5; */
    z-index: 1;
}

.counter h1,
.counter p {
    position: relative;
    z-index: 3;
    color: var(--text-white)
}

/*7 Team Section */
.team_wrapper .card {
    position: relative;
    overflow: hidden;
}

.team_wrapper .team-info {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: -4.6875rem;
    transition: all 0.3s ease-in-out;
}

.team_wrapper .card:hover .team-info {
    margin-bottom: 0;
}

.team_wrapper .team-info h5,
.team_wrapper .team-info p {
    color: var(--text-white);
}

.team_wrapper .team-info .social-network {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1.25rem;
    margin: 1.25rem -1.25rem -1.25rem;
    background-color: var(--primary-color);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team_wrapper .team-info .social-network li a {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: block;
    border-radius: 50%;
    font-size: .9375rem;
    color: var(--text-white);
    border: .0625rem solid var(--bg-white)
}

/*8 Gallery Section */
.gallery-item {
    box-shadow: 0 0 .1875rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

.gallery-item:before,
.gallery-item:after,
.gallery-item .gallery-item-content:before,
.gallery-item .gallery-item-content:after {
    content: "";
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.gallery-item:after {
    top: 50%;
}

.gallery-item:hover:after {
    top: 0;
    opacity: 1;
}

.gallery-item:hover:before {
    left: 50%;
    opacity: 1;
}

.gallery-item .gallery-item-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.gallery-item:hover .gallery-item-content {
    opacity: 1;
}

.gallery-item .gallery-item-content:before,
.gallery-item .gallery-item-content:after {
    top: 0;
    left: 50%;
    z-index: -1;
}

.gallery-item:hover .gallery-item-content:before {
    top: 50%;
    opacity: 1;
}

.gallery-item .gallery-item-content:after {
    top: 50%;
}

.gallery-item:hover .gallery-item-content:after {
    left: 0;
    opacity: 1;
}

/*9 pricing section */
.price_wrapper .card {
    color: #151515;
    background-color: #FFCC00;
    box-shadow: 0 .125rem .25rem rgb(34 30 31 / 40%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.price_wrapper .card:hover {
    background-color: var(--secondary-color);
}

.price_wrapper .card:hover h3,
.price_wrapper .card:hover h5,
.price_wrapper .card:hover p {
    color: var(--text-white);
}

.price_wrapper .card:hover .main-btn {
    color: var(--text-white);
    border-color: var(--bg-white)
}

h5.text-decoration-underline.mb-4 {
    color: #151515;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    padding: 5px;
}


/*10 rental */
.rental-content {
    margin: -5rem 0 0 4.375rem;
    box-shadow: 0 .125rem .25rem rgb(34 30 31 / 40%);
    border-radius: 10px;
    background-color: #FFCC00;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100px !important;
}

.main-slider {
    font-family: Arial;
    width: 1000px;
    display: block;
    margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    color: red;
    font-size: 25px;
}

.slider-container {
    position: relative;
    width: 250px;
    height: 211px;
    text-align: center;
    background-color: rgb(41, 45, 69);
    margin: 5px;

}

.slider-img {
    position: relative;
    width: 100%;
    height: 115px;
    background-color: #caa169;
}

.slider-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
}

.slider-desc {
    background-color: rgb(211, 178, 145);
    height: 96px;
    width: 100%;
}

.slider-desc-title {
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
}

.slider-desc-fare {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 17px;
    text-align: left;
    padding-left: 10px;
}

/* ========================================================*/
.aPaypal {
    color: #0e7aea;
    text-decoration: none;
}

.h6Paypal {
    color: #6d8499;
    font-weight: 300;
    line-height: 15px;
}

.h5Paypal {
    color: #3f4f61;
    font-weight: 300;
}

.h4Paypal {
    font-weight: 300;
    font-size: 13px;
    color: #042d5a;
}

.h3Paypal {
    color: #58636a;
    font-weight: 500;
}

.containerPaypal {
    width: 50%;
    height: 40%;
    min-width: 636px;
    min-height: 456px;
    margin: auto;
    margin-top: 6%;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
}

.leftPaypal {
    background-color: #1882ef;
    width: 39%;
    height: 457px;
    border-radius: 5px 0 0 5px;
    float: left;
    color: #ffffff;
}

.info-boxPaypal {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.receiptPaypal {
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #3895f4;
    height: 15%;
}

.receipt>span {
    font-weight: 500;
    font-size: 21px;
}

.entryPaypal {
    border-bottom: 1px solid #3895f4;
    height: 15%;
    overflow: hidden;
    padding-top: 15px;

}

.entryPaypal>p {
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    margin-top: 0px !important;
    float: left;
    color: white;
}

.entryPaypal>i {
    margin-top: 4px;
    margin-right: 13px;
    float: left;
    color: #b4d8fc;
}

.spanPaypal {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.entryPaypal:last-child {
    border-bottom: none;
}

.rightPaypal {
    background-color: #fefefe;
    width: 61%;
    height: 100%;
    float: left;
    border-radius: 0 5px 5px 0;
}

.contentPaypal {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.headerPaypal {
    overflow: hidden;
    border-bottom: 1px solid #d7e2e7;
    height: 50px;
}

.headerPaypal>img {
    width: 100px;
    float: left;
}

.headerPaypal>h4 {
    text-align: right;
    margin-top: 10px;
}

.mainPaypal {
    margin-top: 35px;
}

.messagePaypal {
    margin-top: 40px;
    font-weight: 500;
}

.messagePaypal>p {
    font-weight: 400px;
    font-size: 15px;
    color: #7a838d;
    line-height: 30px;
    margin-bottom: 0px;
}

.btn-paypal {
    text-align: center;
    float: right;
    margin-bottom: 11px;
    margin-top: 11px;
}

.messagePaypal>h6 {
    margin-top: 10px;
}

/* .footerPaypal {
	overflow: hidden;
	border-top: 1px solid #d7e2e7;
	margin-top: 40px;
	padding-top: 30px;
} */

.footerPaypal>a {
    font-size: 13px;
    font-weight: 500;
    float: left;
}

.footerPaypal>h6 {
    color: #7a838d;
    text-align: right;
    margin-top: 0px !important;
}

/* =========================================================== */

.our-partner-slider {
    background-color: var(--bg-color);
    padding: 3.125rem 0;
}

.card.p-0.border-0.rounded-0 {
    background-color: transparent;
}

.seat-container .padded {
    padding: 0 10px;
    margin-right: 30px !important;
}

.seat-container .booked {
    background-color: crimson;
}

.index-container {
    margin-top: 30px;
}


/* 11 footer */
.footer_wrapper {
    background-color: #000c21;
}

.footer_wrapper h5 {
    color: var(--text-white);
    margin-bottom: 1.25rem;
}

.footer_wrapper ul li {
    margin-bottom: .5rem;
    list-style: none;
}

.footer_wrapper .contact-info li a {
    color: white;
}

.footer_wrapper .link-widget li a,
.footer_wrapper p {
    color: var(--text-gray);
    font-size: .875rem;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer_wrapper .link-widget li a::before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer_wrapper .link-widget li a:hover {
    margin-left: .625rem;
    color: #EA001E;
}

.footer_wrapper .social-network a {
    width: 2.1875rem;
    height: 2.1875rem;
    margin: .5rem;
    line-height: 2rem;
    font-size: .875rem;
    display: inline-block;
    border: .125rem solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-network a:hover {
    background-color: #EA001E;
    border-color: #EA001E;
    color: var(--text-white);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
    transform: translateY(-0.1875rem);
}

.footer_wrapper .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}

.footer_wrapper .copyright-section {
    /* padding: 1.25rem 0 .3125rem; */
    text-align: center;
}




.footer_wrapper .copyright-section a {
    color: #EA001E;
}

.hr-footer {
    background-color: #434343;
}

/*<!-Responsive Design--->*/

@media (max-width: 1199px) {

    /* header */
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
        font-size: .875rem;
    }

    .main-btn {
        font-size: .875rem;
    }

    .container-trip-page {
        text-align: center;
        margin-top: 100px;
        /* margin-bottom: 70px; */
    }

    .index-container {
        margin-top: 32px;
    }

    /* booking area */
    .booking-area {
        padding: 2.125rem .625rem;
    }

    .booking-area .main-btn {
        padding-left: .3125rem !important;
        padding-right: .3125rem !important;
    }

    /* service */
    .service-item-wrap .tab-content img {
        width: 100%;
    }

    .service-menu-area ul li a {
        margin-bottom: .8125rem;
        overflow: hidden;
    }

    .service-menu-area ul li:nth-child(1) {
        margin-left: -4.4375rem;
    }

    .service-menu-area ul li:nth-child(2) {
        margin-left: -6.9375rem;
    }

    .service-menu-area ul li:nth-child(3) {
        margin-left: -9.375rem;
    }

    .service-menu-area ul li:nth-child(4) {
        margin-left: -12.8125rem;
    }

    .service-menu-area ul li a h5 {
        margin-bottom: .375rem;
    }
}

@media (max-width:991px) {

    /* custom css */
    section {
        padding-top: 1.875rem;
    }

    .container-trip-page {
        text-align: center;
        margin-top: 380px;
        /* margin-bottom: 70px; */
    }

    .index-container {
        margin-top: 300px;
    }

    /* 2 Navbar */
    .header-scrolled {
        height: auto;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: .9375rem;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: .9375rem;
    }

    /* banner wrapper */
    .banner_wrapper {
        height: 25.625rem;
    }

    .booking-area {
        padding: 2.125rem 1.875rem;
    }


    /* About */
    .about_wrapper {
        padding-top: 22.375rem;
    }

    /* services */
    .service-menu-area {
        padding: 1.5rem 0.5rem;
    }

    .service-menu-area ul li {
        margin-left: unset !important;
    }

    /* guide */
    .guide-item .guide-content {
        padding: 2rem 1.875rem;
    }

}

@media (max-width: 767px) {

    /* custom css */
    h1 {
        font-size: 1.875rem;
        line-height: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
        line-height: 2.1875rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    p {
        font-size: .8125rem;
        line-height: 1.5rem;
    }

    /* blog */
    .blog-content {
        margin: 0;
    }

    /* footer */
    .footer_wrapper>div {
        padding: 0 1.875rem;
    }

    .index-container {
        margin-top: 300px;
    }
}