<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/fragments::homeHead"></div>

<body>
    <header th:replace="fragments/fragments::homeHeader"></header>
    <br><br>
    <div class="container">
          
        <form th:action="@{/booking/save-order}" method="post">
            <div class="row">
                <div class="col-md-8" style="padding: 0px 8px;">
                    <div class="form-control-lg text-center">Payment method</div>
                    <div class="payment-form">
                        <div class="list-group">

                            <div class="row-payment">
                                <label class="flex-label">
                                    <span class="span-payments">
                                        <input type="radio" name="paymentMethod" value="paypal" class="custom-radio"
                                            style="height: min-content;" required
                                            oninvalid="this.setCustomValidity('Please choose a payment method')"
                                             oninput="this.setCustomValidity('')">
                                              
                                    </span>
                                    <span class="span-payments" style="padding-left: 8px;">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/PayPal_Logo_Icon_2014.svg"
                                            alt="PayPal logo">
                                        <p class="p-md-2" style="font-size: large;">Paypal</p>
                                    </span>
                                </label>
                                <div class="detail-content form-control-sm">Safe payment online. Credit card needed.
                                </div>
                            </div>

                            <div class="row-payment" th:if="${checkoutinfo.isSpecialDay == false}">
                                <label class="flex-label">
                                    <span class="span-payments">
                                        <input type="radio" name="paymentMethod" value="payonbus" class="custom-radio"
                                            style="height: min-content;">
                                    </span>
                                    <span class="span-payments" style="padding-left: 8px;">
                                        <img th:src="@{/images/bus.png}" alt="Bus logo" style="border-radius: 0%;">
                                        <p class="p-md-2" style="font-size: large; width: 100%;">Pay on bus</p>
                                    </span>
                                </label>
                                <div class="detail-content form-control-sm">You can pay when get on the bus via the
                                    driver
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 " style="padding: 0px 8px;">

                    <div class="form-control-lg text-center">Trip detail</div>
                    <div class="payment-form">
                        <div class="trip-info-body">
                            <!--  -->
                            <div class="table-info">
                                <div class="table-name" style="margin-top: 0%;">Passenger</div>
                                <th:block th:if="${checkoutinfo.user != null}">
                                    <!-- <div class="table-value" th:text="${checkoutinfo.user.fullName}">Lewis vip vl</div> -->
                                    <input class="table-value" type="text" name="fullName"
                                        th:value="${checkoutinfo.user.fullName}" id="" required
                                        oninvalid="this.setCustomValidity('Please fill your name')"
                                        oninput="this.setCustomValidity('')">
                                </th:block > 

                                <th:block  th:unless="${checkoutinfo.user != null}">
                                    <input class="table-value" type="text" name="fullName"
                                        id="" required placeholder="Your name"
                                        oninvalid="this.setCustomValidity('Please fill your name')"
                                        oninput="this.setCustomValidity('')">
                                </th:block>

                                
                                <!-- <div class="table-value" th:text="${checkoutinfo.user.fullName}">Lewis vip vl</div> -->
                            </div>
                            <div class="table-info">
                                <div class="table-name">Phone number</div>
                                <th:block th:if="${checkoutinfo.user != null}">
                                    <!-- <div class="table-value" th:text="${checkoutinfo.user.phoneNumber}">0123456789</div> -->
                                    <input class="table-value" type="text" name="phoneNumber"
                                        th:value="${checkoutinfo.user.phoneNumber}" id="" required
                                        oninvalid="this.setCustomValidity('Please fill your phone number')"
                                        oninput="this.setCustomValidity('')">
                                </th:block>
                                <th:block  th:unless="${checkoutinfo.user != null}">
                                    <input class="table-value" type="text" name="phoneNumber"
                                        placeholder="Your phone" id="" required
                                        oninvalid="this.setCustomValidity('Please fill your phone number')"
                                        oninput="this.setCustomValidity('')" style="    height: 17px;">
                                </th:block>
                                <!-- <div class="table-value" th:text="${checkoutinfo.user.phoneNumber}">0123456789</div> -->
                            </div>
                            <div class="table-info">
                                <div class="table-name">Email</div>
                                <th:block th:if="${checkoutinfo.user != null}">
                                    <!-- <div class="table-value" th:text="${checkoutinfo.user.email}">lewisvipvl@gmail.com</div> -->
                                    <input class="table-value" type="text" name="email" 
                                    th:value="${checkoutinfo.user.email}" id="" required
                                    oninvalid="this.setCustomValidity('Please fill your email address')"
                                        oninput="this.setCustomValidity('')">
                                </th:block>
                                <th:block  th:unless="${checkoutinfo.user != null}">
                                    <input class="table-value" type="text" name="email"
                                        placeholder="Your email" id="" required
                                        oninvalid="this.setCustomValidity('Please fill your email address')"
                                        oninput="this.setCustomValidity('')">
                                </th:block>
                                <!-- <div class="table-value" th:text="${checkoutinfo.user.email}">lewisvipvl@gmail.com</div> -->
                            </div>
                            <!--  -->

                            <div class="table-group-divider"></div>

                            <!--  -->
                            <div class="table-info">
                                <div class="table-name">Car Company</div>
                                <div class="table-value" th:text="${tripInfoCurrent.car.carCompany.name}">Hoa Mai</div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="table-info">
                                        <div class="table-name">Pick up place</div>
                                        <div class="table-value" th:text="${tripInfoCurrent.route.departure}" >Mien Dong Bus station</div>
                                    </div>
                                </div>
                                

                                <div class="col-md-6">
                                    <div class="table-info">
                                        <div class="table-name">Drop off place</div>
                                        <div class="table-value" th:text="${tripInfoCurrent.route.arrival}" >Vung Tau Bus station</div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <!--  -->

                            <div class="table-group-divider"></div>

                            <!--  -->
                            <div class="row">
                                <div class="col-md-6 total">Total</div>
                                <div class="col-md-6 total-price" th:text="${checkoutinfo.priceTotal}">200.000 VND</div>
                                <!--                                    <div class="col-md-6 total-price" th:text="${checkoutinfo.priceTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}" style="font-weight: bold !important;"></div>-->

                            </div>
                            <!--  -->
                        </div>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-success"
                        style="width: 100%; min-height: 30px; height: 50px;">Finish Order</button>
                </div>
                <!-- </form> -->



            </div>
        </form>
        <script>
            const paymentRadioButtons = document.getElementsByName('paymentMethod');

            // add event listener to each radio button to update hidden input field
            paymentRadioButtons.forEach(button => {
                button.addEventListener('click', function () {
                    document.getElementById('paymentMethod').value = this.value;
                });
            });
        </script>
        

    </div>
    <br>
    <div th:replace="fragments/fragments::detailFooter"></div>
    <div th:replace="fragments/fragments::homeScript"></div>
</body>

</html>