<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments::homeHead"></div>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/homepageStyle.css}">
</head>

<body style="background-image: url(/images/slider/slider1.webp); background-size: cover; 
    font-family: 'Open Sans', sans-serif;">
    <!-- <h1>Forgot Password</h1> -->






    <div class="container-fluid">

        <form  method="post" th:action="@{/homepage/forgot-password}" class="form-login">

            <div class="row">
                <a th:href="@{/users/login}">
                    <i class="fa-solid fa-arrow-left" style="color: rgb(22, 24, 41);">
                    </i>
                </a>
                <br>
                <h3>Reset password</h3>
            </div><br>

            <!--  -->
            <div th:if="${error}">
                <p style="color: red; font-weight: 600;" th:text="${error}"></p>
            </div>

            <!--  -->
            <div th:if="${emailSent}">
                <p th:unless="${error}" style="color: #2ebd33; font-weight: 600;">
                    Verification code sent to your email.</p>
                <form method="post" action="/homepage/reset-password">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <input type="hidden" name="email" th:value="${#httpServletRequest.getParameter('email')}" />
                    <div>
                        <label for="verification-code">Verification Code:</label>
                        <input class="form-control"  type="password" id="verification-code" name="code" required />
                    </div>
                    <div>
                        <label for="new-password">New Password:</label>
                        <input class="form-control"  type="password" id="new-password" name="newPassword" required />
                    </div>
                    <div>
                        <label for="confirm-password">Confirm Password:</label>
                        <input class="form-control"  type="password" id="confirm-password" name="confirmPassword" required />
                    </div>
                    <br>
                    <div>
                        <input class="reset_password"  type="submit" value="Change Password" />
                    </div>
                </form>

            </div>

            <!--  -->
            <div th:if="${passwordChanged}">
                <p style="color: #2ebd33; font-weight: 600;">Password changed successfully!</p>
            </div>
            
            <div th:unless="${emailSent}">
                
    
                <label>Email</label><br>
                <input type="email" class="form-control" name="email" placeholder="example@gmail.com">
                <br>
                <input type="submit" class="reset_password" value="Reset Password">
            </div>
            
        </form>

    </div>

</body>

</html>