<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>

<body>
    <h1>Forgot Password</h1>
    <div th:if="${emailSent}">
        <p>Verification code sent to your email.</p>
        <form method="post" action="/homepage/reset-password">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <input type="hidden" name="email" th:value="${#httpServletRequest.getParameter('email')}" />
            <div>
                <label for="verification-code">Verification Code:</label>
                <input type="password" id="verification-code" name="code" required />
            </div>
            <div>
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="newPassword" required />
            </div>
            <div>
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirmPassword" required />
            </div>
            <div>
                <input type="submit" value="Change Password" />
            </div>
        </form>

    </div>

    <div th:if="${passwordChanged}">
        <p>Password changed successfully!</p>
    </div>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <div th:unless="${emailSent}">
        <form method="post" th:action="@{/homepage/forgot-password}">
            <input type="email" name="email" placeholder="Email">
            <input type="submit" value="Reset Password">
        </form>
    </div>

</body>

</html>