<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/fragments::homeHead"></div>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">

    <!-- Navbar section -->
    <header th:replace="fragments/fragments::homeHeader"></header>
    <!-- Navbar section exit -->

    <!-- Banner section -->
    <div th:replace="fragments/fragments::homeBanner"></div>
    <!-- Banner section exit -->

    <div class="index-container">
        <!-- Guides section -->
        <div th:replace="fragments/fragments::homeGuide"></div>
        <!-- Guides section exit -->

        <!-- Services section -->
        <div th:replace="fragments/fragments::homeService"></div>
        <!-- Services section Exit -->

        <!-- Partner section-->
        <div th:replace="fragments/fragments::homePartner"></div>
        <!-- Partner section exit-->

        <!-- Why section -->
        <div th:replace="fragments/fragments::homeWhy"></div>
        <!-- Why section exit -->


        <!-- Footer section -->
        <div th:replace="fragments/fragments::homeFooter"></div>
        <!-- Footer section exit -->

        <!-- Script -->
        <div th:replace="fragments/fragments::homeScript"></div>
    </div>

</body>

</html>