<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/fragments::homeHead"></div>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
    <div style="background-image: url(/images/cars/car3.jpg); background-size: cover; padding-bottom: 10px;">
        <div th:replace="fragments/fragments::homeHeader"></div>
        <main>
            <form th:action="@{/booking/choose-seats/{id}(id=${tripInfoCurrent.id})}">

                <div class="container">
                    <div class="bus-order">
                        <div class="row">
                            <div class="seatChoose">Choose your seats</div>
                            <div class="col-sm-6">
                                <div class="container-seat">
                                    <h2 style="text-align: center;">Select your seat</h2>

                                    <div
                                        style="max-width: 190px; max-height: 200px; display: flex; flex-wrap: wrap; padding-left: 10px;">
                                        <div th:each="seat, status : ${listSeats}" class="seat-container">
                                            <label th:for="'seat-' + ${seat.id}">
                                                <input type="checkbox" th:value="${seat.id}" name="selectedSeats"
                                                    th:id="'seat-' + ${seat.id}"
                                                    th:disabled="${seat.availableSeat == 1}"
                                                    th:onclick="checkSubmitButton()" />

                                                <div class="seat" th:text="${seat.seatNumber}"
                                                    th:classappend="${status.count % 4 == 2 ? 'padded' : ''} + ' ' + ${seat.availableSeat == 1 ? 'booked' : ''}">
                                                </div>

                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-6 row-desc">
                                <br><br><br>
                                <div class="row ">
                                    <div class="seat col-sm-6">1</div>
                                    <span class="col-sm-6" style="align-self: center;">Available</span>
                                </div>

                                <div class="row ">
                                    <div class="seat col-sm-6" style="background-color: springgreen; color: black;">2
                                    </div>
                                    <span class="col-sm-6" style="align-self: center;">Choosen</span>
                                </div>

                                <div class="row ">
                                    <div class="seat col-sm-6" style="background-color: crimson">3</div>
                                    <span class="col-sm-6" style="align-self: center;">Booked</span>
                                </div>

                                <div>

                                    <button id="submit-button" class="btn btn-success" th:if="${session.SselectedSeats}"
                                        title="Please select at least one seat before submitting" type="submit"
                                        disabled>Submit</button>







                                </div>
                            </div>


                        </div>

            </form>
    </div>
    </div>

    <!--   <div class="exit exit--back train-body"></div> -->

    </div>





    </main>
    </div>



    <!-- Footer section -->
    <div th:replace="fragments/fragments::bookFooter"></div>
    <!-- Footer section exit -->

    <!-- Script -->
    <div th:replace="fragments/fragments::homeScript"></div>

    <script>
        // Reset the checkboxes when the page is loaded, whether from the cache or the server
        window.onpageshow = function (event) {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }
        };
    </script>

    <!-- <script>
        window.onload = function () {
            var submitButton = document.getElementById("submit-button");

            if (sessionStorage.getItem("SselectedSeats")) {
                submitButton.disabled = true;
            }
        };
    </script> -->


</body>