<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments::userHead"></div>

<body style="
            color: #1a202c;
            text-align: left;
            
    background-color: rgb(182 191 203)">
    <header th:replace="fragments/fragments::userHeader"></header>

    <div class="container" style="padding-top: 20px;">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Your avatar go here"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 th:text="${userInfo.username}"></h4>
                                    <p class="text-muted font-size-sm" th:text="${userInfo.email}"></p>
                                    <p class="text-secondary mb-1" th:text="${userInfo.phoneNumber}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>

                                <div class="col-sm-9 text-secondary " th:text="${userInfo.fullName}"></div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">User Name</h6>
                                </div>

                                <div class="col-sm-9 text-secondary " th:text="${userInfo.username}"></div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>

                                <div class="col-sm-9 text-secondary" th:text="${userInfo.email}"></div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>

                                <div class="col-sm-9 text-secondary" th:text="${userInfo.phoneNumber}"></div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Gender</h6>
                                </div>

                                <div class="col-sm-9 text-secondary" th:text="${userInfo.sex}"></div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-10">
                                    <!--Edit profile here-->
                                    <a class="btn btn-info " target="__blank"
                                        th:href="@{/users/update-profile}">Edit</a>
                                </div>
                                <div class="col-sm-2">
                                    <!--Edit profile here-->
                                    <a class="btn btn-success" th:if="${session.userSession.role == 'admin'}"
                                        th:href="@{/homepage/adminDashBord}" th:text="Admin Dashboard"></a>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="card mt-3">
                        <div class="card-header content-box-title">
                            <i class="fas fa-table me-1"></i>
                            Orders History
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="historyTable">
                                <thead>
                                    <tr>
                                        <th>Departure</th>
                                        <th>Arrival</th>
                                        <th>Day</th>
                                        <!-- <th>Price</th> -->
                                        <th>Seats</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderDetail: ${orderDetails}">
                                    <th:block th:if="${orderDetail.status == 'pending'}">
                                        <td th:text="${orderDetail.departure}">Departure</td>
                                        <td th:text="${orderDetail.arrival}">Arrival</td>
                                        <td th:text="${orderDetail.trip.date}">Day</td>
                                        <td th:text="${orderDetail.listSeatsNumber}" class="seat-td">Seats</td>
                                        <td th:text="${orderDetail.quantity}">Quantity</td>
                                        <td th:text="${orderDetail.total}">Total</td>
                                        <td>
                                            <form method="post" th:action="@{/booking/cancel-booking}">
                                                <input type="hidden" name="bookingId" th:value="${orderDetail.id}">
                                                <button type="submit" class="btn btn-warning">Cancel</button>
                                            </form>
                                        </td>
                                    </th:block>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div th:replace="fragments/fragments::userFooter"></div>
    <div th:replace="fragments/fragments::userScript"></div>


</body>