<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments::userHead"></div>

<head>
    <!-- jQuery library (required) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables CSS and JS files (required) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" />

    <!-- Custom Js Link -->
    <script th:src="@{/js/main.js}"></script>

</head>

<body style="
            color: #1a202c;
            text-align: left;
            background-color: lightgray;
            font-size: 1.3rem;
            ">
    <!-- background-image: url(/images/slider/slider2.webp);
            background-size: cover; -->
    <header th:replace="fragments/fragments::userHeader"></header>

    <div class="container" style="padding-top: 20px;">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-3 mb-3">
                    <div class="card" style="padding-bottom: 6px;">
                        <a th:href="@{/homepage}" style="color: rgb(22, 24, 41); margin-left: 15px;">
                            <i class="fa-solid fa-arrow-left" style=" margin-top: 25px;">
                            </i>
                            Return back
                        </a>
                        <br>
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Your avatar go here"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 th:text="${userInfo.fullName}"></h4>
                                    <div style="width: 200px;">

                                        <p class="text-muted font-size-sm" th:text="${userInfo.email}"></p>
                                    </div>
                                    <p class="text-secondary mb-1" th:text="${userInfo.phoneNumber}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>

                                <div class="col-sm-9 text-secondary ">
                                    <p style="margin-bottom: 0%;" th:text="${userInfo.fullName}"></p>
                                </div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">User Name</h6>
                                </div>

                                <div class="col-sm-9 text-secondary ">
                                    <p style="margin-bottom: 0%;" th:text="${userInfo.username}"></p>
                                </div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>

                                <div class="col-sm-9 text-secondary">
                                    <p style="margin-bottom: 0%;" th:text="${userInfo.email}"></p>
                                </div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>

                                <div class="col-sm-9 text-secondary">
                                    <p style="margin-bottom: 0%;" th:text="${userInfo.phoneNumber}"></p>
                                </div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Gender</h6>
                                </div>

                                <div class="col-sm-9 text-secondary">
                                    <p style="margin-bottom: 0%;" th:text="${userInfo.sex}"></p>
                                </div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-1">
                                    <!--Edit profile here-->
                                    <a class="btn btn-info " target="__blank"
                                        th:href="@{/users/update-profile}">Edit</a>
                                </div>
                                <!-- <div class="col-md-1" th:if="${userInfo.provider == 'LOCAL'}">
                                    Edit profile here
                                    <a class="btn btn-info " style="width: 151px;" target="__blank"
                                        th:href="@{/users/changePassword}">Change Password</a>
                                </div> -->
                                <div>
                                    <!--Edit profile here-->
                                    <a class="btn btn-success" th:if="${session.userSession.role == 'admin'}"
                                        th:href="@{/homepage/adminDashBord}" th:text="Admin Dashboard"></a>
                                </div>


                            </div>

                        </div>
                    </div>



                </div>



                <!--  -->
                <div class="col-md-12">
                    <div class="card mt-3">
                        <div class="card-header content-box-title">
                            <i class="fas fa-table me-1"></i>
                            Booking History

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table id="datatablesSimple" class="table table-striped">
                                    <!-- <table id="myTable" class="historyTable"> -->
                                    <thead>
                                        <tr>
                                            <th>Departure</th>
                                            <th>Arrival</th>
                                            <th>Day</th>
                                            <!-- <th>Price</th> -->
                                            <th>Seats</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Payment</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tr-border" th:each="orderDetail: ${orderDetails}">
                                            <!-- <th:block th:if="${orderDetail.status == 'pending'}"> -->
                                            <th:block>
                                                <td th:text="${orderDetail.departure}">Departure</td>
                                                <td th:text="${orderDetail.arrival}">Arrival</td>
                                                <td th:text="${orderDetail.trip.date}">Day</td>
                                                <td th:text="${orderDetail.listSeatsNumber}" class="seat-td">Seats</td>
                                                <td th:text="${orderDetail.quantity}">Quantity</td>
                                                <td
                                                    th:text="${T(com.laohac.swp391spring2023.controller.PaymentController).formatVND(orderDetail.total)}">
                                                    Total</td>

                                                <td th:text="${orderDetail.paymentType}">Payment</td>

                                                <td>
                                                    <span style="color: #2ebd33; font-weight: 600;"
                                                        th:if="${#strings.equals(orderDetail.status, 'CONFIRMED')}"
                                                        th:text="${orderDetail.status}"></span>

                                                    <span style="color: #2b6ccd; font-weight: 600;"
                                                        th:if="${#strings.equals(orderDetail.status, 'PENDING')}"
                                                        th:text="${orderDetail.status}"></span>
                                                    <span style="color: red; font-weight: 600;"
                                                        th:if="${#strings.equals(orderDetail.status, 'CANCELLED')}"
                                                        th:text="${orderDetail.status}"></span>

                                                </td>

                                                <td>
                                                    <!--  -->
                                                    <form th:if="${#strings.equals(orderDetail.status, 'PENDING')}"
                                                        method="post" th:action="@{/booking/cancel-booking}">
                                                        <input type="hidden" name="bookingId"
                                                            th:value="${orderDetail.id}">
                                                        <button id="cancelBtn" type="submit" onclick=""
                                                            class="btn btn-danger">Cancel</button>


                                                    </form>



                                                    <!--  -->
                                                    <form th:if="${!#strings.equals(orderDetail.status, 'PENDING')}"
                                                        method="post" th:action="@{/booking/cancel-booking}">

                                                        <input type="hidden" name="bookingId"
                                                            th:value="${orderDetail.id}">
                                                        <button type="submit" class="btn btn-danger"
                                                            disabled>Cancel</button>
                                                    </form>
                                                </td>
                                            </th:block>
                                        </tr>

                                    </tbody>
                                </table>
                                <span th:if="${errorMessageCancelBK}">
                                    123sdmasd
                                </span>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div th:replace="fragments/fragments::userFooter"></div>
    <div th:replace="fragments/fragments::userScript">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    </div>



</body>