<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/fragments::homeHead"></div>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/Register.css}">
  <title>Register</title>
</head>

<body style="background-image: url(/images/slider/slider1.webp); background-size: cover; 
font-family: 'Open Sans', sans-serif;">
  <div class="container-fluid">

    <form onsubmit="return validatePassword()" th:action="@{/users/save}" method="post" th:object="${customer}"
      class="RegisterForm">
      <div class="row">
        <h3>Register</h3>
        <hr>

        <div class="col-md-6">
          <div class="input-field">
            <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <label for="email">Email <span style="color: red;" th:text="${session.errorEmail}"></span></label>
            <input type="text" placeholder="example@example.com" th:field="*{email}" id="email" required
              title="Please enter email address" >
          </div>
          


          <label for="username">Username <span style="color: red;"
              th:text="${session.errorUsername}"></span></label>
          <input type="text" placeholder="myusername123" th:field="*{username}" id="username" required
            title="Please enter username">


          <label for="psw">Password</label>
          <input type="password" placeholder="Enter Password" th:field="*{password}" id="psw" required pattern=".{6,}"
            title="Password must be at least 6 characters">

          <label for="psw-repeat">Repeat Password</label>
          <input type="password" placeholder="Repeat Password" id="pswRepeat" required title="Please enter password">

          <span id="message"></span>
        </div>

        <div class="col-md-6">
          <label for="pnumber">Phone Number</label>
          <input type="text" placeholder="(0)555-555-5555" th:field="*{phoneNumber}" id="pnumber"
            pattern="\d{10,11}$" required title="Please enter a valid 10 or 11-digit phone number">

          <label for="fullname">Full Name</label>
          <input type="text" placeholder="John Doe" th:field="*{fullName}" id="fullName" required
            title="Please enter Fullname">

            <hr>
          <label for="sex">Gender</label>
          
          <!-- <input type="text" placeholder="Enter Sex" th:field="*{sex}" id="sex" required title="Please enter gender"> -->
          <select th:field="*{sex}" id="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>

        </div>
        <hr>
        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>



  </div>

</body>

<div th:replace="fragments/fragments::homeScript"></div>

</html>