<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/Register.css}">
  <title>Register</title>
</head>

<body>
  <form onsubmit="return validatePassword()" th:action="@{/users/save}" method="post" th:object="${customer}" class="RegisterForm">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" th:field="*{email}" id="email" required
        title="Please enter email address">
        <span th:text="${session.errorUsername}"></span>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" th:field="*{username}" id="username" required
        title="Please enter username">
        <span th:text="${session.errorEmail}"></span>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" th:field="*{password}" id="psw" required pattern=".{6,}" title="Password must be at least 6 characters">

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" id="pswRepeat" required title="Please enter password" >

      <span id="message" ></span>

      <label for="pnumber"><b>Phone Number</b></label>
      <input type="text" placeholder="Enter Phone Number" th:field="*{phoneNumber}" id="pnumber"
        pattern="\d{10,11}$" required title="Please enter a valid 10 or 11-digit phone number">

      <label for="fullname"><b>Full Name</b></label>
      <input type="text" placeholder="Enter Full Name" th:field="*{fullName}" id="fullName" required title="Please enter Fullname">

      <label for="sex"><b>Gender</b></label>
      <input type="text" placeholder="Enter Sex" th:field="*{sex}" id="sex" required title="Please enter gender">

      <hr>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  </form>
</body>

<div th:replace="fragments/fragments::homeScript"></div>

</html>