<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments::homeHead"></div>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/Register.css}">

  <title>Register</title>
</head>

<body style="background-image: url(/images/slider/slider1.webp); background-size: cover; 
font-family: 'Open Sans', sans-serif;">
  <div class="container-fluid">

    <form onsubmit="return validatePassword()" th:action="@{/users/save}" method="post" th:object="${customer}"
      class="RegisterForm">
      <div class="row">
        <div class="col-md-2" style="float: left;">
          <a th:href="@{/users/login}" style="color: rgb(22, 24, 41);">
            <i class="fa-solid fa-arrow-left" style=" margin-top: 25px;">
            </i>
          </a>
        </div>
        <div class="col-md-8" style="padding-top: 10px; ">
          <h3>Register</h3>
        </div>
        <div class="col-md-2"></div>

        <hr>

        <div class="col-md-6">
          <div class="input-field">
            <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <label for="email">Email <span style="color: red;" th:text="${session.errorEmail}"></span></label>
            <input type="text" placeholder="example@example.com" th:field="*{email}" id="email" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              oninvalid="this.setCustomValidity('Please enter a valid mail')" oninput="this.setCustomValidity('')">
          </div>

          <div class="input-field">
            <span><i aria-hidden="true" class="fa fa-user"></i></span>
            <label for="username">Username <span style="color: red;" th:text="${session.errorUsername}"></span></label>
            <input type="text" placeholder="myusername123" th:field="*{username}" id="username" required
              title="Username must be at least 6 characters long, start with a letter and contain only letters and numbers"
              pattern="[A-Za-z][A-Za-z0-9]{5,}" oninvalid="this.setCustomValidity('Please enter a valid username')"
              oninput="this.setCustomValidity('')">

          </div>

          <div class="input-field">

            <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <label for="psw">Password</label>
            <input type="password" placeholder="Enter Password" th:field="*{password}" id="psw" required pattern=".{6,}"
              title="Password must be at least 6 characters"
              oninvalid="this.setCustomValidity('Password must be at least 6 characters')"
              oninput="this.setCustomValidity('')">
          </div>

          <div class="input-field">

            <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <label for="psw-repeat">Repeat Password</label>
            <input type="password" placeholder="Repeat Password" id="pswRepeat" required title="Please enter password"
            >

            <span id="message"></span>
          </div>
        </div>

        <div class="col-md-6">

          <div class="input-field">

            <span><i aria-hidden="true" class="fa fa-phone"></i></span>
            <label for="pnumber">Phone Number</label>
            <input type="text" placeholder="(0)555-555-5555" th:field="*{phoneNumber}" id="pnumber" pattern="\d{10,11}$"
              required title="Please enter a valid 10 or 11-digit phone number"
              oninvalid="this.setCustomValidity('Please enter a valid 10 or 11-digit phone number')"
              oninput="this.setCustomValidity('')">
          </div>

          <div class="input-field">

            <span><i aria-hidden="true" class="fa fa-user"></i></span>
            <label for="fullname">Full Name</label>
            <input type="text" placeholder="John Doe" th:field="*{fullName}" id="fullName" required
              title="Please enter Fullname" pattern="^[a-zA-Z]+(?:\s[a-zA-Z]+)*$"
              oninvalid="this.setCustomValidity('Please enter a valid full name')" oninput="this.setCustomValidity('')">
          </div>

          <div style="margin-top: 35px;">
            <span><i aria-hidden="true" class="fa fa-check-square-o"></i></span>
            <label for="sex">Gender</label>

            <!-- <input type="text" placeholder="Enter Sex" th:field="*{sex}" id="sex" required title="Please enter gender"> -->
            <select th:field="*{sex}" id="sex">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>

        </div>
        <hr>
        <!-- <button type="submit"  class="registerbtn">Register</button> -->
        <button id="registerBtn" type="submit" class="registerbtn">Register</button>


        
        <!-- <a href="#popupRegister" class="registerbtn">Register</a> -->
        <a href="#popupRegister"></a>

        <div id="popupRegister" class="overlay">
          <div class="popup" style="width: 500px;">
            <!-- <h2>Info box</h2> -->
            <div
              style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto; margin-bottom: 20px;">
              <i class="checkmark">✓</i>
            </div>
            <!-- <a class="close" href="#">&times;</a> -->
            <div class="contentRegister">
              <p class="lead"><strong>Please check <a href="https://mail.google.com/mail/u/0/#inbox"
                    target="_blank">your
                    email</a></strong> for further instructions
                on how to
                complete your account setup.</p>

              <div style="text-align: center; left:50%; margin-top: 10px;">
                <!-- <button type="submit"  class="btn btn-primary">Continue</button> -->
                <a th:href="@{/users/login}" class="btn btn-primary">Continue</a>
              </div>

            </div>
          </div>
        </div>
      </div>
      
    </form>



  </div>

</body>

<div th:replace="fragments/fragments::homeScript"></div>

</html>