<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/searchTrip.css}">
    <link rel="stylesheet" th:href="@{/css/styleSearchPage.css}">

    <title>Booking Ticket</title>
</head>

<head th:replace="fragments/fragments::homeHead"></head>



<body>
    <div th:replace="fragments/fragments::bookHeader"></div>
    <div th:replace="fragments/fragments::bookBanner">
        <!-- <script>
            const pickUpPlaceSelect1 = document.getElementById("pickUpPlace");
            const dropoffPlaceSelect1 = document.getElementById("dropoffPlace");

            pickUpPlaceSelect1.addEventListener("change", (event) => {
                const selectedOptionText = event.target.options[event.target.selectedIndex].text;
                for (const option of dropoffPlaceSelect1.options) {
                    if (option.text === selectedOptionText) {
                        option.disabled = true;
                    } else {
                        option.disabled = false;
                    }
                }
            });
        </script> -->
    </div>
    <div style="text-align: center;
    padding-top: 70px;">
        <!-- need to render pick up location and destination that customer choose -->
        <h3 style="font-size: 40px; margin-bottom: 10px;">Pick up location - Destination</h3>

        <div class="filter-container">

            <button class="btn-sort" onclick="sortTripsByPrice()">Price ASC</button>
            <button class="btn-sort" onclick="sortTripsByPriceDesc()">Price DESC </button>

            <!-- <select name="" id="" class="filter">
                <option value="">Type</option>
                <option value="">Classic</option>
                <option value="">Limousine</option>
                <option value="">Bed</option>
            </select> -->

            <!-- <select name="" id="" class="filter">
                <option value="">Time</option>
                <option value="">0h - 6h</option>
                <option value="">6h - 12h</option>
                <option value="">12h - 18h</option>
                <option value="">18h - 24h</option>
            </select> -->

            </table>
        </div>
    </div>
    <!-- show a list of available tickets for customer -->
    <div class="container-trip-page">

        <div class="container-search-trip" th:each="trip: ${listTrips}">
            <form th:action="@{/booking/{id}(id=${trip.id})}" id="myForm">
                <div class="TicketPC-Container">
                    <div class="TicketPC-BodyFlex">
                        <div class="image" style="position: relative;"><img th:src="@{${trip.car.carCompany.imgUrl}}"
                                class="operator"><img class="sticker-lazyloaded">
                        </div>
                        <div class="TicketPC-RightBody">
                            <div class="TicketPC-TripInfo">
                                <div class="bus-info">
                                    <div class="bus-name" th:text="${trip.car.carCompany.getName()} + ' Busline'">Huệ
                                        Nghĩa</div>
                                </div>
                                <div class="seat-type"
                                    th:text="${trip.car.getPlateNumber()} + ' - ' +${trip.car.getCapacity()} + ' Seats'">
                                    Giường nằm 40 chỗ</div>
                                <div class="from-to"><svg class="TicketPC-LocationRouteSVG"
                                        xmlns="http://www.w3.org/2000/svg" width="14" height="74" viewBox="0 0 14 74">
                                        <path fill="none" stroke="#787878" stroke-linecap="round" stroke-width="2"
                                            stroke-dasharray="0 7" d="M7 13.5v46"></path>
                                        <g fill="none" stroke="#01613D" stroke-width="3">
                                            <circle cx="7" cy="7" r="7" stroke="none"></circle>
                                            <circle cx="7" cy="7" r="5.5"></circle>
                                        </g>
                                        <path
                                            d="M7 58a5.953 5.953 0 0 0-6 5.891 5.657 5.657 0 0 0 .525 2.4 37.124 37.124 0 0 0 5.222 7.591.338.338 0 0 0 .506 0 37.142 37.142 0 0 0 5.222-7.582A5.655 5.655 0 0 0 13 63.9 5.953 5.953 0 0 0 7 58zm0 8.95a3.092 3.092 0 0 1-3.117-3.06 3.117 3.117 0 0 1 6.234 0A3.092 3.092 0 0 1 7 66.95z"
                                            fill="#EF5222"></path>
                                    </svg>
                                    <div class="from-to-content">
                                        <div class="content-from">
                                            <div class="hour" th:text="${#strings.substring(trip.startTime, 0, 5)}">
                                                10:50</div>
                                            <div class="place" th:text="'• ' + ${trip.departureDetail}">• CD. Châu Đốc
                                            </div>
                                        </div>
                                        <div class="content-to">
                                            <div class="hour" th:text="${#strings.substring(trip.endTime, 0, 5)}">13:00
                                            </div>
                                            <div class="place" th:text="'• ' + ${trip.arrivalDetail}">• Cựu Hội</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="TicketPC-FareInfo">
                                <div>
<!--                                    <div class="fare" th:text="${trip.price} +'đ'">-->
<!--                                        <div> 160.000đ</div>-->
<!--                                    </div>-->
                                    <div class="fare" th:text="${T(com.laohac.swp391spring2023.controller.PaymentController).formatVND(trip.price)}"></div>



                                    <div class="fareSmall">
                                        <div class="small"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="TicketPC-DetailAndAction">
                                <div th:if="${isSpecialDay}">
                                    <!-- <span th:text="${isSpecialDay}"></span> -->
                                    <h5>Prepaid trip</h5>
                                </div>
                                <div class="info">
                                    <div class="seat-available-green" th:text="${trip.totalAvailableSeat} + ' seats left'">6 seats left </div>
                                </div>
                                
                                <button data-tracking-event="selected_route" type="submit" class="ant-btn-btn-booking"
                                    style="text-align: right;">
                                    <span>Book now</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

        <script>
            function sortTripsByPriceDesc() {
                const trips = document.querySelectorAll('.container-search-trip');
                const sortedTrips = Array.from(trips)
                    .sort((a, b) => {
                        const priceA = a.querySelector('.fare').innerText.replace(/[^0-9]/g, '');
                        const priceB = b.querySelector('.fare').innerText.replace(/[^0-9]/g, '');
                        return priceA - priceB;
                    });
                sortedTrips.forEach(trip => {
                    trip.parentNode.insertBefore(trip, trip.parentNode.firstChild);
                });
            }
        </script>
        <script>
            function sortTripsByPrice() {
                const trips = document.querySelectorAll('.container-search-trip');
                const sortedTrips = Array.from(trips)
                    .sort((a, b) => {
                        const priceA = a.querySelector('.fare').innerText.replace(/[^0-9]/g, '');
                        const priceB = b.querySelector('.fare').innerText.replace(/[^0-9]/g, '');
                        return priceB - priceA;
                    });
                sortedTrips.forEach(trip => {
                    trip.parentNode.insertBefore(trip, trip.parentNode.firstChild);
                });
            }
        </script>

        <div th:replace="fragments/fragments::homeScript"></div>

</body>
<br><br><br>
<div th:replace="fragments/fragments::bookFooter"></div>

</html>