<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{styleSearchPage.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}" rel="stylesheet" />
    <title>Booking Ticket</title>
</head>

<body>
    <!-- show a list of available tickets for customer -->
    <div class="container">
        <!-- need to render pick up location and destination that customer choose -->
        <h3>Pick up location - Destination</h3>
        <div class="flex" width="100%">
            <form class="row">
                <table>
                    <thead>
                        <th>Pick up place</th>
                        <th>Drop off place</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                        <td>
                            <input type="search" placeholder="PICK UP PLACE" list="pickupList">
                            <datalist id="pickupList">
                                <option value="VUNG TAU">
                            </datalist>
                        </td>
                        <td>
                            <input type="search"  placeholder="DROP OFF PLACE" list="dropoffList">
                            <datalist id="dropoffList">
                                <option value="NHA TRANG">
                            </datalist>
                        </td>
                        <td><input type="date" value=""></td>
                        <td><button type="submit">Find</button></td>
                    </tbody>

                </table>
            </form>
        </div>
        <div class="filter">
            <table id="datatablesSimple" border="1px" style="width: 400px;">

                <thead>
                    <tr>
                        <td>Start Time</td>
                        <td>End Time</td>
                        <td>Plate Number</td>
                        <td>Company Name</td>
                        <td>Capacity</td>
                        <td>Price</td>
                        <td>Book Trip</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trip: ${listTrips}">
                        <td th:text="${trip.startTime}">Start Time</td>
                        <td th:text="${trip.endTime}">End Time</td>
                        <td th:text="${trip.car.getPlateNumber()}">Plate Number</td>
                        <td th:text="${trip.car.carCompany.getName()}">Company Name</td>
                        <td th:text="${trip.car.getCapacity()}">Plate Number</td>
                        <td th:text="${trip.price}">Price</td>
                        <td><a th:href="@{/booking/{id}(id=${trip.id})}" class="btn btn-success">Book Trip</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- this is form template when rendering to a list of route -->
        
    </div>

    <div class="">
        <a href="#"></a>
    </div>


<div th:replace="fragments/fragments::adminScript"></div>

</body>

</html>