<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/fragments::userHead"></div>

<body style="
color: #1a202c;
text-align: left;

background-color: rgb(182 191 203)">
    <header th:replace="fragments/fragments::userHeader"></header>

    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Your avatar go here"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="${userInfo.fullName}"></h4>
                                <div style="width: 200px;">

                                    <p class="text-muted font-size-sm" th:text="${userInfo.email}"></p>
                                </div>
                                <p class="text-secondary mb-1" th:text="${userInfo.phoneNumber}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form th:action="@{/users/update-userInfo}" method="post" id="registrationForm"
                            th:object="${userInfo}">

                            <div class="row">
                                <div class="col-md-8">

                                    <div class="mb-3">
                                        <label class="fw-normal mb-1" for="inputEmail">Email</label>
                                        <input class="form-control mb-4 " th:field="*{email}" id="inputEmail" type="email"
                                            placeholder="example@example.com" required title="You can change notification email later in checkout "
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                            oninvalid="this.setCustomValidity('Please enter a valid mail')"
                                            oninput="this.setCustomValidity('')" disabled>
                                    </div>

                                    <div class="mb-3 form-group">
                                        <label class="fw-normal mb-1" for="inputFullname">Fullname</label>
                                        <input type="text" id="inputFullname" th:field="*{fullName}" placeholder="Fullname"
                                            class="form-control mb-4 " required title="Please enter your full name"
                                            pattern="^[a-zA-Z]+(?:\s[a-zA-Z]+)*$"
                                            oninvalid="this.setCustomValidity('Please enter a valid full name')"
                                            oninput="this.setCustomValidity('')">
                                    </div>
                                    <!-- <hr style="background-color: rgb(189 189 189);"> -->
        
                                    
                                    <!-- <hr style="background-color: rgb(189 189 189);"> -->
        
                                    <div class="mb-3">
                                        <label class="fw-normal mb-1" for="inputPhone">Phone number</label>
                                        <input class="form-control mb-4 " th:field="*{phoneNumber}" id="inputPhone"
                                            type="tel" placeholder="Enter your phone number" pattern="\d{10,11}$" required
                                            title="Please enter a valid 10 or 11-digit phone number">
                                    </div>
                                    <!-- <hr style="background-color: rgb(189 189 189);"> -->
        
                                    <div class="mb-3">
                                        <label class="fw-normal mb-1" for="inputGender">Gender</label>
                                        <select th:field="*{sex}" id="inputGender">
        
                                            <option th:value="MALE">Male</option>
                                            <option th:value="FEMALE">Female</option>
                                            <option th:value="OTHER">Other</option>
                                        </select>
                                    </div>
                                    <!-- <hr style="background-color: rgb(189 189 189);"> -->
        
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <br>
                                            <button class="btn btn-lg btn-primary" type="submit"><i
                                                    class="glyphicon glyphicon-ok-sign"></i>
                                                Save</button>
                                            <button class="btn btn-lg btn-danger" type="reset"><i
                                                    class="glyphicon glyphicon-repeat"></i>
                                                Reset</button>
                                            <button type="button" class="btn btn-lg btn-warning" style="color: white;"
                                                onclick="redirectToProfile()">Return back</button>
        
                                            <script>
                                                function redirectToProfile() {
                                                    window.location.href = "/users/info";
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4" style="border-left: 1px solid black;">
                                    <p>Remember to enter a Fullname with no special characters.
                                    </p>
                                    <br>
                                    <p>For access to the booking feature, please enter a real and valid email.</p>
                                    
                                    <p>Please enter a valid 10-11 digits phone number</p>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/fragments::userFooter"></div>
    <div th:replace="fragments/fragments::userScript"></div>
</body>