<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Verification</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/homepageStyle.css}">
</head>

<body style="background-image: url(/images/slider/slider1.webp); background-size: cover; 
font-family: 'Open Sans', sans-serif;">

    <div class="container">

        <div class="verify-form" style="margin-top: 80px;">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="checkmark">✓</i>
            </div>
            
            <h1 style="color: #88B04B;
              font-family: " Nunito Sans", "Helvetica Neue" , sans-serif; font-weight: 900; font-size: 40px;
                margin-bottom: 10px;">Success</h1>

            <div class="verify-msg">
                <p class="verify-msg">Thank you, your email has been verified. Your account is now active.</p>
                <br>
                <p class="verify-msg">Please use the button below to login to your account.</p>
            </div>
            <br>
            <a th:href="@{/users/login}" class="btn-verifysuccess">
                Login
                to your
                account</a>
        </div>

    </div>



</body>

</html>